<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orbitall</title>
    <!-- Favicon -->
        <link rel="shortcut icon" href="../../assets/img/Favicon.png" type="image/x-icon">
    <!-- CSS -->
        <!-- Universal -->
         <link rel="stylesheet" href="../../assets/css/Universal.css">
        <!-- Específico -->
         <link rel="stylesheet" href="../../assets/css/perfil.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../../assets/img/Orbitall Logo.png" alt="logo">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="../home/index.html">Home</a></li>
                    <li><a href="../sobre/index.html">Sobre</a></li>
                    <li><a href="index.html" style="color: #ffde59;">Perfil</a></li>
                    <li><a href="../curiosidades/index.html">Curiosidades</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="img"><img src="../../assets/img/MARTE.jpg" alt="profile"></div>
            <input type="file" id="inputFoto" name="foto" accept="image/*" style="display:none;">
            <p class="username">User Name</p>
            <button class="change"><img src="../../assets/img/editar-imagem.png" alt="change"></button>
            <div class="info">
                <p>Email:</p><p class="mail">sdjgsbgsdbgjsbkgjbs</p>
                <p>Password:</p> <p class="pass">**********</p>
                <button class="logout" id="logoutBtn">Logout</button>
            </div>
            
        </section>
    </main>
    <footer>&copy; Todos os direitos reservados. Desenvolvido por CobraDev</footer>
</body>
</html>