<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orbitall</title>
    <!-- Favicon -->
        <link rel="shortcut icon" href="../../assets/img/Favicon.png" type="image/x-icon">
    <!-- CSS -->
        <!-- Universal -->
         <link rel="stylesheet" href="../../assets/css/Universal.css">
        <!-- Específico -->
         <link rel="stylesheet" href="../../assets/css/login.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../../assets/img/Orbitall Logo.png" alt="logo">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="../inicio/index.html">Início</a></li>
                    <li><a href="../sobre/index.html">Sobre</a></li>
                    <li><a href="index.html" style="color: #ffde59;">Login</a></li>
                    <li><a href="../cadastro/index.html">Cadastro</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <h1>Login</h1>
                <form action="../login/index.html" method="post">
                    <input type="email" name="email" placeholder="Email" id="email" required>
                        <br>
                    <input type="password" name="password" placeholder="Palavra-Passe" id="senha" required>
                        <br>
                    <button type="submit">Entrar</button>
                    <p><a href="../cadastro/index.html">Não possui uma conta? Cadastre-se</a></p>
            </form>
            </div>
                
        </section>
    </main>
    <footer>&copy; Todos os direitos reservados. Desenvolvido por CobraDev</footer>
    <script src="../../assets/js/login.js"></script>
</body>
</html>