<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orbitall</title>
    <!-- Favicon -->
        <link rel="shortcut icon" href="../../assets/img/Favicon.png" type="image/x-icon">
    <!-- CSS -->
        <!-- Universal -->
         <link rel="stylesheet" href="../../assets/css/Universal.css">
        <!-- Específico -->
         <link rel="stylesheet" href="../../assets/css/sobre.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../../assets/img/Orbitall Logo.png" alt="logo">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="../inicio/index.html">Início</a></li>
                    <li><a href="index.html" style="color: #ffde59;">Sobre</a></li>
                    <li><a href="../login/index.html">Login</a></li>
                    <li><a href="../cadastro/index.html">Cadastro</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <h1>Sobre Nós</h1>
        <section>
            <div class="d1">
                <p>
                    Orbitall surgiu como um projecto escolar e trornou-se numa plataforma
                    interativa e educativa que reúne conhecimento sobre o universo
                </p>
            </div>
            <div class="d2">
                <p>
                    Vivemos em um muno com acesso fácil à informação, mas muitas vezes
                    o conhecimento é apresentado de forma chata e difícil.
                </p>
            </div>
            <div class="d3">
                    <p>
                        A orbitall nasceu da ideia de tornar o aprender visual e envolvente.
                    </p>
            </div>
            <div class="d4">
                <p>
                    Queremos que os visitantes explorem, se surpreendam e compartilhem o
                    que descobrirem aqui
                </p>
            </div>
        </section>
        <div class="banner"></div>
    </main>
    <footer>&copy; Todos os direitos reservados. Desenvolvido por CobraDev</footer>
    <script src="../../assets/js/sobre.js"></script>
</body>
</html>