<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orbitall</title>
    <!-- Favicon -->
        <link rel="shortcut icon" href="../../assets/img/Favicon.png" type="image/x-icon">
    <!-- CSS -->
        <!-- Universal -->
         <link rel="stylesheet" href="../../assets/css/Universal.css">
        <!-- Específico -->
         <link rel="stylesheet" href="../../assets/css/home.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../../assets/img/Orbitall Logo.png" alt="logo">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="index.html" style="color: #ffde59;">Home</a></li>
                    <li><a href="../sobre/index.html">Sobre</a></li>
                    <li><a href="../perfil/index.html">Perfil</a></li>
                    <li><a href="../curiosidades/index.html">Curiosidades</a></li>
                    <li><a href="../inicio/index.html" onclick="localStorage.clear()">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <main>
        <section class="system">
            <div class="sun">
                <img src="../../assets/img/sun.png" alt="">
            </div>
            <div class="mercury"></div>
            <div class="venus"></div>
            <div class="earth">
                <div class="moon"></div>
            </div>
            <div class="mars"></div>
            <div class="jupiter"></div>
            <div class="saturn"></div>
            <div class="uranus"></div>
            <div class="neptune"></div>
        </section>
        <section class="well">
            <p>Seja Bem-Vindo a Orbitall----------</p>
            <p class="user">Sténio Cruz</p>
            <p>----------------------Que bom vê-lo</p>
        </section>
    </main>
    <div class="banner"></div>
    <script src="../../assets/js/home.js"></script>
</body>
</html>