<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orbitall</title>
    <!-- Favicon -->
        <link rel="shortcut icon" href="../../assets/img/Favicon.png" type="image/x-icon">
    <!-- CSS -->
        <!-- Universal -->
         <link rel="stylesheet" href="../../assets/css/Universal.css">
        <!-- Específico -->
         <link rel="stylesheet" href="../../assets/css/inicio.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../../assets/img/Orbitall Logo.png" alt="logo">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="index.html" style="color: #ffde59;">Início</a></li>
                    <li><a href="../sobre/index.html">Sobre</a></li>
                    <li><a href="../login/index.html">Login</a></li>
                    <li><a href="../cadastro/index.html">Cadastro</a></li>
                </ul>
            </div>
        </nav>
        <div class="txt">
            <p>Descubra pequenas curiosidades --------</p>
            <p class="h1">Sobre o <strong>Universo</strong><p>
            <p>----------------- Aventure-se na Orbitall</p>
        </div>
    </header>
    <main>
        <section class="system">
            <div class="img1">
                <img src="../../assets/img/sistemasolar.jpg" alt="sistema solar">
            </div>
            <div class="text1">
                <p class="h2">Sistema Solar</p>
                <p>Conheça mais sobre o nosso sistema solar</p>
                <p>Aprenda mais sobre os planetas do nosso sistema</p>
                <p>Sobre os astros ao nosso redor e muito mais</p>
                <button><a href="../login/index.html">Saiba Mais</a></button>
            </div>
        </section>
        <section class="astros">
            <div class="text2">
                <p class="h3">Astros</p>
                <p>Descubra curiosidades sobre os astros do nosso sistema solar</p>
                <p>Desde a Lua ao Sol</p>
                <p>Desde pequenos planetas à Luas incríveis</p>
                <button><a href="../login/index.html">Saiba Mais</a></button>
            </div>
            <div class="img2">
                <img src="../../assets/img/corpos_celestes.jpg" alt="astros">
            </div>
        </section>
        <section class="banner">
            <p>"O Céu Não é o Limite. <br> Existe um Universo Incrível Lá Fora"</p>
        </section>
    </main>
    <footer>&copy; Todos os direitos reservados. Desenvolvido por CobraDev</footer>
</body>
</html>