<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orbitall</title>
    <!-- Favicon -->
        <link rel="shortcut icon" href="../../assets/img/Favicon.png" type="image/x-icon">
    <!-- CSS -->
        <!-- Universal -->
         <link rel="stylesheet" href="../../assets/css/Universal.css">
        <!-- Específico -->
         <link rel="stylesheet" href="../../assets/css/curiosidades.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../../assets/img/Orbitall Logo.png" alt="logo">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="../home/index.html">Home</a></li>
                    <li><a href="../sobre/index.html">Sobre</a></li>
                    <li><a href="../perfil/index.html">Perfil</a></li>
                    <li><a href="index.html" style="color: #ffde59;">curiosidades</a></li>
                    <li><a href="../../index.html">Logout</a></li>
                </ul>
            </div>
        </nav>
        <div class="txt">
            <p class="h1">Curiosidades<p>
            <p>---------- Descubra pequenas curiosidades</p>
        </div>
    </header>
    <main>
        <section class="planets">
            <h1>Planetas --------</h1>
            <div class="d1">
                <div>
                    <div class="earth">
                            <img src="../../assets/img/TERRA.jpg" alt="earth">
                            <p class="title">Terra</p>
                            <p class="txt">
                                A Terra é o único planeta conhecido com vida. Possui água líquida,
                                atmosfera protetora e clima ideal. Seus movimentos causam estações
                                do ano e, apesar de parecer estável, está sempre mudando por causa
                                de vulcões, terremotos e placas tectônicas.
                            </p>
                        
                    </div>
                    <div class="mars">
                        <img src="../../assets/img/MARTE.jpg" alt="earth">
                        <p class="title">Marte</p>
                        <p class="txt">
                            O planeta vermelho, tem uma fina atmosfera composta
                            principalmente por dióxido de carbono. Sua superfície lembra desertos da
                            Terra, com montanhas gigantes e vales profundos. Acredita-se que
                            Marte já teve rios e oceanos, o que levanta a possibilidade de ter abrigado
                            vida no passado.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="mercury">
                        <img src="../../assets/img/MERCURIO.jpg" alt="earth">
                        <p class="title">Mercúrio</p>
                        <p class="txt">
                            O menor planeta do Sistema Solar e o mais próximo do Sol.
                            Por isso, suas temperaturas variam drasticamente: extremamente
                            quente durante o dia e congelante à noite. Ele quase não tem atmosfera,
                            o que impede a retenção de calor. Sua superfície é cheia de crateras,
                            e seus dias são muito longos
                        </p>
                    </div>
                    <div class="venus">
                        <img src="../../assets/img/VENUS.jpg" alt="earth">
                        <p class="title">Vênus</p>
                        <p class="txt">
                            O planeta mais quente do Sistema Solar, com temperaturas que derretem
                            chumbo. Sua densa atmosfera é formada por gases tóxicos, criando um efeito
                            estufa extremo. Curiosamente, ele gira muito devagar e no sentido contrário
                            da maioria dos planetas, o que
                            faz o Sol nascer no oeste e se pôr no leste.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="jupiter">
                        <img src="../../assets/img/JUPITER.jpg" alt="earth">
                        <p class="title">Júpiter</p>
                        <p class="txt">
                            O maior planeta do Sistema Solar com uma atmosfera
                            cheia de tempestades, incluindo a Grande Mancha Vermelha. Composto por gases
                            como hidrogênio e hélio, não possui superfície sólida. Possui dezenas de luas,
                            sendo Ganímedes
                            a maior delas. Seu campo magnético é o mais forte
                            entre todos os planetas.
                        </p>
                    </div>
                    <div class="neptune">
                        <img src="../../assets/img/NEPTUNO.jpg" alt="earth">
                        <p class="title">Neptuno</p>
                        <p class="txt">
                            Neptuno é o planeta mais distante do Sol, o que o torna muito frio
                            e escuro. Sua intensa coloração azul vem do metano em sua atmosfera.
                            É lar dos ventos mais rápidos já registrados, chegando a mais de
                            2.000 km/h. Assim como Júpiter, é um gigante gasoso, mas com um núcleo
                            rochoso.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="urane">
                        <img src="../../assets/img/URANO.jpg" alt="earth">
                        <p class="title">Urano</p>
                        <p class="txt">
                            Urano se destaca por girar de lado.
                            É um gigante gasoso com uma coloração azul-esverdeada por causa do metano
                            em sua atmosfera. Apesar de ter anéis, eles são muito finos e difíceis de ver.
                            Sua temperatura é uma das mais baixas do Sistema Solar, sendo um planeta
                            muito gelado e misterioso.
                        </p>
                    </div>
                    <div class="saturn">
                        <img src="../../assets/img/SATURNO.jpg" alt="earth">
                        <p class="title">Saturno</p>
                        <p class="txt">
                            Conhecido pelos seus impressionantes anéis formados por gelo
                            e rochas. Um gigante gasoso com uma atmosfera rica em hidrogênio,
                            marcada por fortes ventos e tempestades. Apesar de seu tamanho enorme,
                            Saturno é o planeta menos denso do Sistema Solar
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="astros">
            <h1>--------- Astros</h1>
            <div class="d2">
                <div>
                    <div class="sun"><p>Sol</p></div>
                    <div class="moon"><p>Lua</p></div>
                    <div class="tita"><p>Titã</p></div>
                </div>
                <div>
                    <div class="europe"><p>Europa</p></div>
                    <div class="ceres"><p>Ceres</p></div>
                    <div class="encelado"><p>Encelado</p></div>
                </div>
            </div>
        </section>
        <section class="misterys">
            <h1>Mistérios do Universo ---------</h1>
            <div class="d3">
                    <div class="black"><p>Buraco Negro</p></div>
                    <div class="white"><p>Buraco Branco</p></div>
            </div>
        </section>
    </main>
    <div class="banner"></div>
    <footer>&copy; Todos os direitos reservados. Desenvolvido por CobraDev</footer>
</body>
</html>